@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,500;0,700;0,800;1,700&family=PT+Sans:ital@0;1&display=swap");

// CSS Reset
html {
  box-sizing: border-box;
  font-size: 16px;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
ol, ul, li {
  list-style: none;
}
img {
  max-width: 100%;
  height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito", sans-serif;
  font-weight: 800;
}

// Footer
.footer {
  background-color: #FFFFFC !important;
  color:#2e4568eb !important;
  font-weight: 500;
}
.footer a:hover:not(div>a){
  color: #fffffc !important;
  background-color: #5f579d !important;
  border-radius: 20%;
  text-decoration: underline;
}
.footer div>a:hover{
  text-decoration: underline;
}
.footer div>a{
  color: rgb(255, 0, 153) !important;
}
footer div{
  text-align: center;
}
.footer i{
  font-size: 1.3rem;
  transition: all 0.3s ease-in-out;
}

// 