.lesson-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
  background-color: khaki;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 1rem;
}

.lesson-card .lesson-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.lesson-card .title-container {
  width: 80%;
  margin-right: 10px;
}

.lesson-card .buttons-container {
  width: 20%;
}

.lesson-card .edit-delete-buttons {
  background-color: transparent;
  border: none;
  float: right;
}

.lesson-card .delete-button {
  color: red;
  margin: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
}

.edit-button {
  margin: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
}

.lesson-card hr {
  height: 1px;
  margin-top: 0rem;
}

.lesson-card .topic {
  margin-bottom: 20px;
}

.lesson-card .info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.lesson-card .column {
  width: 50%;
}

.lesson-card p {
  margin-bottom: 5px;
}

.lesson-card .lesson-card-label {
  font-size: small !important;
}

.lesson-card .lesson-card-input {
  border: none;
  padding: 0px;
  color: rgba(0, 0, 0, 0.788) !important;
  background-color: transparent !important;
}

.lesson-card .lesson-card-icon {
  line-height: normal;
  color: green;
  height: 1rem;
}

.vertical-center {
  display: flex;
  align-items: center !important;
}

.lesson-card .form-label {
  float: left;
}

.lesson-card .lesson-card-badge {
  background-color: transparent !important;
  color: black;
  outline: 2px solid #a876f5;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.6;
  border-radius: 2rem;
  padding: 8px 12px;

  margin-bottom: 0.75rem;
}

.delete-modal-button {
  padding-bottom: 10px !important;
}

.lesson-save-button {
  padding-bottom: 8px;
}



@media only screen and (max-width: 600px) {
  .lesson-card .lesson-card-badge {
    margin-right:0.75rem;
  }
}