.teacher-lessons-page {
 background-color: lightblue;
 height: fit-content;
 padding-top: 45px;
 padding-bottom: 45px;
}

.teacher-lesson-header {
align-items: center !important;
}

.create-new-lesson {
    border-radius: 30px;
    padding: 20px 30px;
    background-color: #a876f5;
    color: #fff;
    text-align: center;
    box-shadow: none !important;
    margin-top: 1rem;
    float:right;
}

.teacher-lesson-title {
    font-weight: 500 !important;
    line-height: 1.2;
    font-size: 56px !important;
  }

  .delete-modal-button {
    text-align: center !important;
  }

  
@media only screen and (max-width: 600px) {

    .teacher-lesson-title {
      font-size: 30px;
      margin-bottom: 2rem;

  }
}