.contact-form-section {
    max-width: 1160px;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    background-color: #dfcc77;
    border-radius: 10px;
    padding: 10px;
}

.contact-form-image{
    max-height: 400px;
    margin:auto;
    margin-bottom: 2rem;
}



.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 60px;

}

.contact-hr {
    margin-top: 0;
}

.contact-label {
    padding-bottom: 8px;
}

.contact-input {
    border: none;
    outline:none;
    border-bottom:2px solid lightcyan;
    margin-bottom: 15px;
    transition:all .3s;
    font-size:14px;
    color:white; 
    background-color: transparent;
}

.contact-input:focus{
    border-bottom:2px solid green
}

.contact-button {
    padding:8px 12px;
    margin:10px 0 0;
    font-family:'Montserrat',sans-serif;
    border:2px solid #78788c;
    background-color: transparent;
    width: 180px;
    margin: auto;
    margin-top:1rem;
    transition:all .3s;
    background:0;
    color:#5a5a6e;
    cursor:pointer;
}

.contact-button:hover{
    background: green;
    color:#fff;
    border: 2px solid green;
}
