.contact-form-component {
    background-color:  khaki;
    padding-top: 96px;
    padding-bottom: 96px;
    height: fit-content;
}


.contact-form-section {
    max-width: 1160px;
    margin: auto;
}

.form-title {
    font-size: 44px !important;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 2rem;
    color:white;
}

.contact-form-image{
    max-height: 400px;
    margin:auto;
    margin-bottom: 2rem;
    
}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.contact-hr {
    margin-top: 0;
}

.contact-label {
    padding-bottom: 8px;
}

.contact-input {
    border: none;
    outline:none;
    border-bottom:2px solid lightcyan;
    margin-bottom: 15px;
    transition:all .3s;
    font-size:14px;
    color:white; 
    background-color: transparent;
}

.contact-input:focus{
    border-bottom:2px solid green
}

.contact-button {
    border-radius: 30px;
    padding: 20px 30px;
    background-color:  #a876f5 !important;
    color: #fff;
    text-align: center;
    box-shadow: none !important;
    margin-top:1rem;
    transition:all .3s;
    background:0;
    cursor:pointer;
    border: none !important;
    text-transform: uppercase;
    font-size: .75rem;
    font-weight: 500;
    line-height: 1.5;
    width: fit-content;
    margin:auto;
}

.contact-button:hover{
    background: green;
    color:#fff;
}
