.contact-form-component {
  background-color: #fce5d8;
  padding-top: 96px;
  padding-bottom: 96px;
  height: fit-content;
}

.contact-form-section {
  max-width: 1160px;
  margin: auto;
}

.contact-form-title {
  font-size: 27px !important;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 2rem;
}

.contact-form-title .subtitle {
  color: #a876f5;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  font-size: 44px !important;
}

.contact-form-image {
  max-height: 400px;
  margin: auto;
  margin-bottom: 2rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-label {
  padding-bottom: 8px;
}

.contact-input {
  border: none;
  outline: none;
  border-bottom: 2px solid #a876f5;
  margin-bottom: 15px;
  transition: all 0.3s;
  font-size: 14px;
  color: white;
  background-color: transparent;
}

.contact-input:focus {
  border-bottom: 2px solid green;
}

.contact-button {
  border-radius: 30px;
  padding: 20px 30px;
  background-color: #a876f5 !important;
  color: #fff;
  text-align: center;
  box-shadow: none !important;
  transition: all 0.3s;
  cursor: pointer;
  border: none !important;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.5;
  width: fit-content;
  margin: auto;
  margin-top: 0.5rem;
}

.contact-button:hover {
  background: green;
  color: #fff;
}

@media only screen and (max-width: 600px) {
  .contact-form-component {
    padding-top: 5rem;
    padding-bottom: 4rem;
  }
  .contact-form-section {
    margin-left: 1rem;
    margin-right: 1rem;
    max-width: 330px;
  }

  .contact-form-title {
    font-size: 30px;
    margin-bottom: 0.5rem;
  }
  .contact-form-title .subtitle {
    font-size: 30px !important;
    margin-bottom: 1rem;
  }

  .contact-form-image {
    margin: auto;
    margin-top: 3rem;
  }
}
