.description {
  height: fit-content;
  background-color: lightblue;
  padding-top: 96px;
  padding-bottom: 96px;
}

.description-section {
  width: 1160px !important;
}

.description-section-title {
  font-size: 44px !important;
  width: 650px;
  margin: auto;
  margin-bottom: 2rem;
  text-align: center;
}

.description-container-image {
  max-width: 320px;
  margin-right: 2rem;
  margin-left: 2rem;
  margin-top: 3rem;
  text-align: center;
  background-color: khaki;
  padding: 40px 30px;
  border-radius: 1rem;
}

.description-image {

  margin: auto;
}

.description-title {
  font-size: 27px;
  margin-top: 2rem;
  margin-bottom: 1rem;

}

.description-stripy-image {
  position: absolute;
  width: 300px;
  display: block;
  transform: rotate(-135deg);
}

.description-subtitle {
}


@media only screen and (max-width: 600px) {
  .description {
    padding-top:5rem;
    padding-bottom: 4rem; 
  }
  .description-section {
    margin-left: 1rem;
    margin-right: 1rem;
    max-width: 330px;
  }

  
  .description-section-title {
    font-size: 30px !important;
  }

  .description-subtitle {
    font-size: 16px;
  }

.description-container-image{
  margin-top: 3rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  max-width: 100%;
  padding: 30px 20px;
}
.description-title {
  font-size: 24px;
}

.description-image{
  height: 150px;
}
}
