.navbar {
  background-color: #fffffc !important;
  box-shadow: none;
  border-bottom: #762de2 2px solid;
  padding: 9px;
}

.navbar-container {
  width: 1300px !important;
}

.navbar-title {
  color: #333;
  margin-top: 1rem;
}

.navbar-title-span {
  border-radius: 30px;
  padding: 3px;
}

.nav-link {
  color: #333 !important;
  font-weight: 500;
  font-family: "Nunito", sans-serif !important;
}

.nav-link:hover {
  color: #762de2 !important;
}

.navbar-button-login,
.navbar-button-logout {
  border-radius: 30px;
  padding: 10px 20px;
  border: 2px solid;
  font-weight: 800;
  font-family: "Nunito", sans-serif;
  box-shadow: none;
  margin-top: 2rem !important;
}

.navbar-button-login {
  border-color: #a876f5 !important;
  color: #a876f5 !important;
}

.navbar-button-logout {
  background-color: #C2D9FF;
  border-color: #C2D9FF;
  color: #333;
  margin:auto !important;
}

.navbar-button-logout:focus {
  background-color: none !important;
  border-color: #ffd6d6 !important;
  color: #333 !important;
}
