.navbar {
  background-color: #fffcff;
  box-shadow: none;
  border-bottom: #762de2 2px solid;
  padding: 9px;
}

.navbar-container {
  width: 1300px !important;
}

.navbar-title {
  color: #333;
  margin-top: 1rem;
}

.navbar-title-span {
  border-radius: 50%;
  padding: 8px;
  background-color: #3b71ca;
  color: #fff;
  animation: logoAnimation 1s 1s alternate-reverse ease-in-out infinite;
}
.school-logo{
  color: #656 !important;
  font-family: "Nunito", sans-serif !important;
}
@keyframes logoAnimation {
  to {
    padding: 0;
    background-color: #fff;
    color:#3b71ca;
  }
}


.nav-link {
  color: #333 !important;
  font-weight: 500;
  font-family: "Nunito", sans-serif !important;
  font-size: 1.1rem;
}

.nav-link:hover {
  color: #762de2 !important;
}

.navbar-button-login,
.navbar-button-logout {
  border-radius: 30px;
  padding: 10px 20px;
  border: 2px solid;
  font-weight: 800;
  font-family: "Nunito", sans-serif;
  box-shadow: none;
}

.navbar-button-login {
  border-color: #a876f5 !important;
  /* color: #a876f5 !important; */
}

.navbar-button-logout {
  background-color: #C2D9FF;
  border-color: #C2D9FF;
  color: #444;
  margin:auto !important;
}

.navbar-button-logout:hover {
  background-color: #555;
  border-color: #555;
  color: #C2D9FF;
}

.navbar .active {
  color: #3b71ca !important;
}

.navbar .active:hover {
  color: #3b71ca !important;
}

